<br/>
<h2>Change Log</h2>
<h3>2011.02.01</h3>
database schema finished<br/>
simple login system finished<br/>
<h3>2011.02.11</h3>
account, investment list finished<br/>
TODO:<br/>
solve post forgery problem<br/>
currentPrice, currentRate input<br/>